body {
    background-color: aqua;
}
h1 {
    color: aliceblue;
    font-size: 25px;
}
h2 {
    color: green;
    font-size: 20px;
}
.red-heading {
    color: red;
}
.blue-text {
    color: blue;
}
#new-font {
    font-family: fantasy, cursive, serif;
}
header {
    background-color: fuchsia;
}
header p {
    font-weight: bold;
    color: blue;
}

.byline{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}
main {
    background-color: blueviolet;
}
footer {
    text-align: center;
background-color: aliceblue;
border: black solid thin;
padding-left: 5px;
border-radius: 8px;
}
figure.left {
    float: left;
}