body {
    background-color: aqua;
}
h1 {
    color: aliceblue;
    font-size: 25px;
}
h2 {
    color: green;
    font-size: 20px;
}
.red-heading {
    color: red;
}
.blue-text {
    color: blue;
}
#new-font {
    font-family: fantasy, cursive, serif;
}
header {
    background-color: fuchsia;
}
header p {
    font-weight: bold;
    color: blue;
}

.byline{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
main {
    background-color: blueviolet;
}
footer {
    text-align: center;
background-color: aliceblue;
border: black solid thin;
padding-left: 5px;
border-radius: 8px;
}
figure.left {
    float: left;
}
figure.border {
    background-color: lightslategray;
    border: black solid thin;
    padding: 5px;
} 

nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}

.btn-padding {
    padding: 25px;
    margin: 30px;
    border: 10px green double;    
    border-radius: 22px;
}

.btn-padding:hover {
    background-color: aqua;
    border-color: white;
} 

.btn-padding:active {
    background-color:gold;
    border-color:grey;
} 

.btn-margin-padding:active {
    color: red;
}

#button-wrapper {
    display: inline-block;
    border: 10px solid maroon;
}

aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;        
}

.object {
    font-size: 20px;
}